# s3board

#
NET sysclk PERIOD = 50 MHz HIGH 50 %;

#NET "clk1x" TNM_NET = "clk1x";
#TIMESPEC "TS_clk1" = PERIOD "clk1x" 20ns HIGH 50%;

#
# Time specifications for 50MHz clock
#
#TIMESPEC TS01 = FROM : FFS : TO : FFS : 20 ns;
#TIMESPEC TS02 = FROM : RAMS : TO : FFS : 20 ns;
#TIMESPEC TS03 = FROM : FFS : TO : RAMS : 20 ns;
#TIMESPEC TS04 = FROM : RAMS : TO : RAMS : 20 ns;
#TIMESPEC TS05 = FROM : FFS : TO : PADS : 20 ns;
#TIMESPEC TS06 = FROM : PADS : TO : FFS : 20 ns;
#TIMESPEC TS07 = FROM : PADS : TO : RAMS : 20 ns;
#TIMESPEC TS08 = FROM : RAMS : TO : PADS : 20 ns;

# A -> L, M -> L can be 40ns
#NET "cpu/a<*>" TNM_NET=FFS "A_MC_GRP";
#NET "cpu/m<*>" TNM_NET=FFS "M_MC_GRP";
#NET "cpu/l<*>" TNM_NET=FFS "L_MC_GRP";
#TIMESPEC TS_alu1 = FROM "A_MC_GRP" to "L_MC_GRP" TS_clk1*2;
#TIMESPEC TS_alu2 = FROM "M_MC_GRP" to "L_MC_GRP" TS_clk1*2;

#
#NET "cpu/wadr<*>" TNM_NET=FFS "WADR_GRP";
#NET "cpu/pc<*>" TNM_NET=FFS "PC_GRP";
#NET "cpu/spcptr<*>" TNM_NET=FFS "SPCPTR_GRP";
##TIMESPEC TS_false1 = FROM "WADR_GRP" TO "PC_GRP" TIG;
##TIMESPEC TS_false2 = FROM "WADR_GRP" TO "SPCPTR_GRP" TIG;
#TIMESPEC TS_false1 = FROM "WADR_GRP" TO "PC_GRP" 40 ns;
#TIMESPEC TS_false2 = FROM "WADR_GRP" TO "SPCPTR_GRP" 40 ns;

#
#NET "cpu/wadr<2>" TNM_NET=FFS "WADR_GRP2";
#NET "cpu/pc<2>" TNM_NET=FFS "PC_GRP2";
#NET "cpu/pc<6>" TNM_NET=FFS "PC_GRP6";
#NET "cpu/pc<9>" TNM_NET=FFS "PC_GRP9";
#TIMESPEC TS_false1 = FROM "WADR_GRP2" TO "PC_GRP2" 40 ns;
#TIMESPEC TS_false1 = FROM "WADR_GRP2" TO "PC_GRP6" 40 ns;
#TIMESPEC TS_false1 = FROM "WADR_GRP2" TO "PC_GRP9" 40 ns;

#
#NET "cpu/boot_trap" TNM_NET=FFS "BOOT_TRAP_MC_GRP";
##TIMESPEC TS_pc1 = FROM "BOOT_TRAP_MC_GRP" to "PC_GRP" TS_clk1*2;
#TIMESPEC TS_pc1 = FROM "BOOT_TRAP_MC_GRP" to "PC_GRP" 40 ns;

#
#NET "cpu/ir<*>" TNM_NET=FFS "IR_MC_GRP";
#NET "cpu/dadr<*>" TNM_NET = "DADR_MC_GRP";
#TIMESPEC TS_ir1 = FROM "IR_MC_GRP" to "DADR_MC_GRP" TS_clk1*2;

#
NET "rs232_txd"  LOC = "R13";
NET "rs232_rxd"  LOC = "T13";

NET "button<0>"  LOC = "M13";
NET "button<1>"  LOC = "M14";
NET "button<2>"  LOC = "L13";
NET "button<3>"  LOC = "L14";

NET "led<0>"  LOC = "K12";
NET "led<1>"  LOC = "P14";
NET "led<2>"  LOC = "L12";
NET "led<3>"  LOC = "N14";
NET "led<4>"  LOC = "P13";
NET "led<5>"  LOC = "N12";
NET "led<6>"  LOC = "P12";
NET "led<7>"  LOC = "P11";

NET "sysclk"  LOC = "T9";

NET "ps2_clk"  LOC = "M16";
NET "ps2_data"  LOC = "M15";

NET "vga_red"  LOC = "R12";
NET "vga_blu"  LOC = "R11";
NET "vga_grn"  LOC = "T12";
NET "vga_hsync"  LOC = "R9";
NET "vga_vsync"  LOC = "T10";

NET "vga_red"	SLOW;
NET "vga_blu"	SLOW;
NET "vga_grn"	SLOW;
NET "vga_hsync"	SLOW;
NET "vga_vsync"	SLOW;

NET "sevenseg<7>"  LOC = "E14";
NET "sevenseg<6>"  LOC = "G13";
NET "sevenseg<5>"  LOC = "N15";
NET "sevenseg<4>"  LOC = "P15";
NET "sevenseg<3>"  LOC = "R16";
NET "sevenseg<2>"  LOC = "F13";
NET "sevenseg<1>"  LOC = "N16";
NET "sevenseg<0>"  LOC = "P16";

NET "sevenseg_an<3>"  LOC = "E13";
NET "sevenseg_an<2>"  LOC = "F14";
NET "sevenseg_an<1>"  LOC = "G14";
NET "sevenseg_an<0>"  LOC = "d14";

NET "slideswitch<0>"  LOC = "F12";
NET "slideswitch<1>"  LOC = "G12";
NET "slideswitch<2>"  LOC = "H14";
NET "slideswitch<3>"  LOC = "H13";
NET "slideswitch<4>"  LOC = "J14";
NET "slideswitch<5>"  LOC = "J13";
NET "slideswitch<6>"  LOC = "K14";
NET "slideswitch<7>"  LOC = "K13";

NET "sram_a<17>"	LOC="L3";
NET "sram_a<16>"	LOC="K5";
NET "sram_a<15>"	LOC="K3";
NET "sram_a<14>"	LOC="J3";
NET "sram_a<13>"	LOC="J4";
NET "sram_a<12>"	LOC="H4";
NET "sram_a<11>"	LOC="H3";
NET "sram_a<10>"	LOC="G5";
NET "sram_a<9>"		LOC="E4";
NET "sram_a<8>"		LOC="E3";
NET "sram_a<7>"		LOC="F4";
NET "sram_a<6>"		LOC="F3";
NET "sram_a<5>"		LOC="G4";
NET "sram_a<4>"		LOC="L4";
NET "sram_a<3>"		LOC="M3";
NET "sram_a<2>"		LOC="M4";
NET "sram_a<1>"		LOC="N3";
NET "sram_a<0>"		LOC="L5";
NET "sram_oe_n"		LOC="K4";
NET "sram_we_n"		LOC="G3";

NET "sram1_io<15>"	LOC="R1";
NET "sram1_io<14>"	LOC="P1";
NET "sram1_io<13>"	LOC="L2";
NET "sram1_io<12>"	LOC="J2";
NET "sram1_io<11>"	LOC="H1";
NET "sram1_io<10>"	LOC="F2";
NET "sram1_io<9>"	LOC="P8";
NET "sram1_io<8>"	LOC="D3";
NET "sram1_io<7>"	LOC="B1";
NET "sram1_io<6>"	LOC="C1";
NET "sram1_io<5>"	LOC="C2";
NET "sram1_io<4>"	LOC="R5";
NET "sram1_io<3>"	LOC="T5";
NET "sram1_io<2>"	LOC="R6";
NET "sram1_io<1>"	LOC="T8";
NET "sram1_io<0>"	LOC="N7";
NET "sram1_ce_n"	LOC="P7";
NET "sram1_ub_n"	LOC="T4";
NET "sram1_lb_n"	LOC="P6";

NET "sram_a<17>"	FAST;
NET "sram_a<16>"	FAST;
NET "sram_a<15>"	FAST;
NET "sram_a<14>"	FAST;
NET "sram_a<13>"	FAST;
NET "sram_a<12>"	FAST;
NET "sram_a<11>"	FAST;
NET "sram_a<10>"	FAST;
NET "sram_a<9>"		FAST;
NET "sram_a<8>"		FAST;
NET "sram_a<7>"		FAST;
NET "sram_a<6>"		FAST;
NET "sram_a<5>"		FAST;
NET "sram_a<4>"		FAST;
NET "sram_a<3>"		FAST;
NET "sram_a<2>"		FAST;
NET "sram_a<1>"		FAST;
NET "sram_a<0>"		FAST;
NET "sram_oe_n"		FAST;
NET "sram_we_n"		FAST;
NET "sram1_io<15>"	FAST;
NET "sram1_io<14>"	FAST;
NET "sram1_io<13>"	FAST;
NET "sram1_io<12>"	FAST;
NET "sram1_io<11>"	FAST;
NET "sram1_io<10>"	FAST;
NET "sram1_io<9>"	FAST;
NET "sram1_io<8>"	FAST;
NET "sram1_io<7>"	FAST;
NET "sram1_io<6>"	FAST;
NET "sram1_io<5>"	FAST;
NET "sram1_io<4>"	FAST;
NET "sram1_io<3>"	FAST;
NET "sram1_io<2>"	FAST;
NET "sram1_io<1>"	FAST;
NET "sram1_io<0>"	FAST;
NET "sram1_ce_n"	FAST;
NET "sram1_ub_n"	FAST;
NET "sram1_lb_n"	FAST;

NET "sram2_io<15>"	LOC="N1";
NET "sram2_io<14>"	LOC="M1";
NET "sram2_io<13>"	LOC="K2";
NET "sram2_io<12>"	LOC="C3";
NET "sram2_io<11>"	LOC="F5";
NET "sram2_io<10>"	LOC="G1";
NET "sram2_io<9>"	LOC="E2";
NET "sram2_io<8>"	LOC="D2";
NET "sram2_io<7>"	LOC="D1";
NET "sram2_io<6>"	LOC="E1";
NET "sram2_io<5>"	LOC="G2";
NET "sram2_io<4>"	LOC="J1";
NET "sram2_io<3>"	LOC="K1";
NET "sram2_io<2>"	LOC="M2";
NET "sram2_io<1>"	LOC="N2";
NET "sram2_io<0>"	LOC="P2";
NET "sram2_ce_n"	LOC="N5";
NET "sram2_ub_n"	LOC="R4";
NET "sram2_lb_n"	LOC="P5";

NET "ide_data_bus<15>"	LOC="A5";
NET "ide_data_bus<14>"	LOC="A4";
NET "ide_data_bus<13>"	LOC="A3";
NET "ide_data_bus<12>"	LOC="C9";
NET "ide_data_bus<11>"	LOC="C8";
NET "ide_data_bus<10>"	LOC="C7";
NET "ide_data_bus<9>"	LOC="C6";
NET "ide_data_bus<8>"	LOC="C5";
NET "ide_data_bus<7>"	LOC="D5";
NET "ide_data_bus<6>"	LOC="D6";
NET "ide_data_bus<5>"	LOC="E7";
NET "ide_data_bus<4>"	LOC="D7";
NET "ide_data_bus<3>"	LOC="D8";
NET "ide_data_bus<2>"	LOC="D10";
NET "ide_data_bus<1>"	LOC="B4";
NET "ide_data_bus<0>"	LOC="B5";

NET "ide_diow"		LOC="A8";
NET "ide_dior"		LOC="B10";

NET "ide_cs<0>"		LOC="A9";
NET "ide_cs<1>"		LOC="A10";

NET "ide_da<0>"		LOC="B12";
NET "ide_da<1>"		LOC="B13";
NET "ide_da<2>"		LOC="B14";

NET "ide_data_bus<15>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<14>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<13>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<12>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<11>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<10>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<9>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<8>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<7>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<6>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<5>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<4>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<3>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<2>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<1>"	IOSTANDARD=LVTTL;
NET "ide_data_bus<0>"	IOSTANDARD=LVTTL;
NET "ide_dior"		IOSTANDARD=LVTTL;
NET "ide_diow"		IOSTANDARD=LVTTL;
NET "ide_da<2>"		IOSTANDARD=LVTTL;
NET "ide_da<1>"		IOSTANDARD=LVTTL;
NET "ide_da<0>"		IOSTANDARD=LVTTL;
NET "ide_cs<1>"		IOSTANDARD=LVTTL;
NET "ide_cs<0>"		IOSTANDARD=LVTTL;

NET "ide_data_bus<15>"	PULLUP;
NET "ide_data_bus<14>"	PULLUP;
NET "ide_data_bus<13>"	PULLUP;
NET "ide_data_bus<12>"	PULLUP;
NET "ide_data_bus<11>"	PULLUP;
NET "ide_data_bus<10>"	PULLUP;
NET "ide_data_bus<9>"	PULLUP;
NET "ide_data_bus<8>"	PULLUP;
NET "ide_data_bus<7>"	PULLUP;
NET "ide_data_bus<6>"	PULLUP;
NET "ide_data_bus<5>"	PULLUP;
NET "ide_data_bus<4>"	PULLUP;
NET "ide_data_bus<3>"	PULLUP;
NET "ide_data_bus<2>"	PULLUP;
NET "ide_data_bus<1>"	PULLUP;
NET "ide_data_bus<0>"	PULLUP;

INST "ide_data_bus<0>"	DRIVE=24;
INST "ide_data_bus<1>"	DRIVE=24;
INST "ide_data_bus<2>"	DRIVE=24;
INST "ide_data_bus<3>"	DRIVE=24;
INST "ide_data_bus<4>"	DRIVE=24;
INST "ide_data_bus<5>"	DRIVE=24;
INST "ide_data_bus<6>"	DRIVE=24;
INST "ide_data_bus<7>"	DRIVE=24;
INST "ide_data_bus<8>"	DRIVE=24;
INST "ide_data_bus<9>"	DRIVE=24;
INST "ide_data_bus<10>"	DRIVE=24;
INST "ide_data_bus<11>"	DRIVE=24;
INST "ide_data_bus<12>"	DRIVE=24;
INST "ide_data_bus<13>"	DRIVE=24;
INST "ide_data_bus<14>"	DRIVE=24;
INST "ide_data_bus<15>"	DRIVE=24;

#INST "fpga_clocks/dcm100" LOC=DCM_X1Y0;  # sysclk_buf_BUFG
#NET "sysclk" CLOCK_DEDICATED_ROUTE = FALSE; 
